$bg-black : #000 ; 
$bg-white : white ; 
$bg-black-div :rgb(23, 32, 50) ; 
$bg-black-div-header :rgb(20, 23, 31);
$white-color : white ; 
$primary-color : rgb(29, 161, 242) ; 
$pink-color : rgb(233, 195, 201);